h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__main;
	font-weight: 700;
}

h1 {
  @include font-size(3);
  line-height: 16px;
  line-height: 1em;
}

h2 {
  @include font-size(2.25);
  line-height: 21.33333px;
  line-height: 1.33333em;
}

h3 {
  @include font-size(1.5);
  line-height: 16px;
  line-height: 1em;
}

h4 {
  @include font-size(1.3125);
  line-height: 18.28571px;
  line-height: 1.14286em;
}

h5 {
  @include font-size(1.125);
  line-height: 21.28px;
  line-height: 1.33em;
}

h6 {
  @include font-size(1);
  line-height: 24px;
  line-height: 1.5em;
}

p {
  @include font-size(0.875);
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px;
}