/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

svg {
  cursor: pointer; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

body {
  color: #7b7b7b;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 16px;
  line-height: 1em; }

h2 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 21.33333px;
  line-height: 1.33333em; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 16px;
  line-height: 1em; }

h4 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 18.28571px;
  line-height: 1.14286em; }

h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 21.28px;
  line-height: 1.33em; }

h6 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  line-height: 1.5em; }

p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 15px; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

blockquote, q {
  quotes: "" ""; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

.color-primary {
  color: #7b7b7b !important; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
 * # Preloader
 *-------------------------------------------------------------- 
*/
.page-loader {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefefe;
  z-index: 100000; }

.loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  font-size: 10px;
  text-indent: -12345px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spinner 700ms infinite linear;
  -moz-animation: spinner 700ms infinite linear;
  -ms-animation: spinner 700ms infinite linear;
  -o-animation: spinner 700ms infinite linear;
  animation: spinner 700ms infinite linear;
  z-index: 100001; }

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.top-header .btn-ms {
  padding-top: 22px;
  padding-bottom: 22px;
  line-height: 1.2;
  border-width: 0 1px 0 1px;
  font-size: 14px; }

.site-branding {
  float: left;
  max-width: 200px;
  width: 100%;
  padding: 5px 0; }

.main-navigation {
  float: left;
  position: relative; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
    .main-navigation li:hover > a, .main-navigation li:focus > a {
      background: #0b62a4; }
  .main-navigation a {
    color: #fff;
    display: block;
    padding: 15px 20px;
    text-decoration: none; }
    .main-navigation a i {
      color: #fff;
      font-size: 30px;
      line-height: 100%;
      vertical-align: middle; }
  .main-navigation .current_page_item > a,
  .main-navigation .current-menu-item > a,
  .main-navigation .current_page_ancestor > a,
  .main-navigation .current-menu-ancestor > a {
    background: #0b62a4; }

#nav-toggle {
  display: none;
  position: absolute;
  top: 50px;
  bottom: 0;
  margin: auto;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: top 0.6s, right 0.4s;
  -moz-transition: top 0.6s, right 0.4s;
  -ms-transition: top 0.6s, right 0.4s;
  -o-transition: top 0.6s, right 0.4s;
  transition: top 0.6s, right 0.4s; }

.open #nav-toggle {
  right: 0; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  display: block;
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #000;
  content: '';
  cursor: pointer; }

#nav-toggle span {
  top: 19px;
  left: 10px; }

#nav-toggle span:before {
  top: -6px; }

#nav-toggle span:after {
  bottom: -6px; }

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }

.open #nav-toggle span {
  background-color: transparent; }

.open #nav-toggle span:before,
.open #nav-toggle span:after {
  top: 0; }

.open #nav-toggle span:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.open #nav-toggle span:after {
  top: 5px;
  -webkit-transform: translateY(-5px) rotate(-45deg);
  -moz-transform: translateY(-5px) rotate(-45deg);
  -ms-transform: translateY(-5px) rotate(-45deg);
  -o-transform: translateY(-5px) rotate(-45deg);
  transform: translateY(-5px) rotate(-45deg); }

@media only screen and (max-width: 991px) {
  .top-bar {
    padding: 20px 0; }

  #nav-toggle,
  .menu > ul > li,
  .menu li.parent.show > ul {
    display: block;
    float: none; }

  .menu > ul > li:first-child {
    padding-top: 15px; }

  .menu {
    position: fixed;
    top: 0;
    right: -280px;
    left: auto;
    height: 100%;
    width: 280px;
    background-color: #0153a0;
    float: none;
    line-height: 1.5;
    text-align: left;
    overflow: hidden;
    overflow-y: auto;
    visibility: hidden;
    z-index: 999;
    -webkit-transform: translateZ(0);
    -webkit-transition: right 0.4s, visibility 0s linear 0.4s;
    -moz-transition: right 0.4s, visibility 0s linear 0.4s;
    -ms-transition: right 0.4s, visibility 0s linear 0.4s;
    -o-transition: right 0.4s, visibility 0s linear 0.4s;
    transition: right 0.4s, visibility 0s linear 0.4s; }

  .open .menu {
    right: 0;
    visibility: visible;
    -webkit-transition: right 0.4s;
    -moz-transition: right 0.4s;
    -ms-transition: right 0.4s;
    -o-transition: right 0.4s;
    transition: right 0.4s; }

  .menu ul ul li {
    margin-left: 20px; }

  .menu ul ul {
    position: static;
    visibility: visible;
    opacity: 1;
    background-color: transparent !important;
    box-shadow: none; }

  .menu ul ul li {
    width: auto; }

  .menu li.parent {
    position: relative; }

  .menu li.parent:after {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 9px;
    font-weight: normal;
    content: '\f078'; }

  .menu > ul > li.menu-item-has-children > a:after,
  .menu ul a:hover:after {
    display: none; }

  .menu ul a,
  .menu ul ul a {
    padding: 10px 15px; }

  #masthead .top-header .menu.mobile a {
    color: #fff;
    display: block; }

  .menu > ul li.current-menu-item a,
  .menu > ul li:hover a,
  .menu > ul li:focus a {
    background: #222; } }
.site-header {
  background: #188ae2;
  color: #fff; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Btn
--------------------------------------------------------------*/
.btn-ms {
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: inline-block;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.2;
  overflow: hidden;
  padding: 15px 40px;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-transform: perspective(0);
  -ms-transform: perspective(0);
  -webkit-transform: perspective(0);
  transform: perspective(0);
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -webkit-transition: all 0.7s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.7s ease 0s; }

.btn-ms-radius {
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  border-radius: 44px; }

.btn-ms:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #0b62a4;
  z-index: -1;
  -moz-transform: rotate(45deg) scaleY(0);
  -ms-transform: rotate(45deg) scaleY(0);
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  -moz-transition: -moz-transform 0.5s linear 0s;
  -o-transition: -o-transform 0.5s linear 0s;
  -webkit-transition: -webkit-transform 0.5s linear;
  -webkit-transition-delay: 0s;
  transition: transform 0.5s linear 0s; }

.btn-ms:hover,
.btn-ms:focus {
  -moz-transform: perspective(400px);
  -ms-transform: perspective(400px);
  -webkit-transform: perspective(400px);
  transform: perspective(400px); }

.btn-ms:hover:before,
.btn-ms:focus:before {
  -moz-transform: rotate(45deg) scaleY(7);
  -ms-transform: rotate(45deg) scaleY(7);
  -webkit-transform: rotate(45deg) scaleY(7);
  transform: rotate(45deg) scaleY(7); }

.btn-ms.btn-ms-primary {
  background: #188ae2;
  border: 0;
  color: #fff; }

.btn-ms-primary:before {
  background: #0b62a4; }

body .btn-ms-primary:hover,
body .btn-ms-primary:focus {
  color: #fff; }

.btn-ms-transparent {
  color: #fff;
  background: transparent; }

.site-content .btn-ms-transparent {
  color: #404040; }

.btn-ms-transparent:before {
  background: #0b62a4; }

body .btn-ms-transparent:hover,
body .btn-ms-transparent:focus {
  color: #fff;
  border-color: #0b62a4;
  box-shadow: none; }

main.site-content {
  margin-bottom: 3em; }

/*--------------------------------------------------------------
## Flex Support
--------------------------------------------------------------*/
@media only screen and (min-width: 640px) {
  .flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .flex-row .flex-column-half {
      width: 50%;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
.d-table {
  display: table;
  height: 100%;
  width: 100%; }
  .d-table .d-tcell {
    display: table-cell;
    vertical-align: middle; }

.info-blocks .d-table h3 {
  margin: 0 auto; }

.page-info {
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px; }

.section-wrapper {
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px; }

@media only screen and (min-width: 992px) {
  .pl-15 {
    padding-left: 15px; }

  .pr-15 {
    padding-right: 15px; } }
.block-sections {
  border-bottom: 1px solid #f1f1f1; }

.block-sections:before,
.block-sections:after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both; }

.block-section-title {
  border-bottom: 1px solid #f1f1f1; }
  .block-section-title h2 {
    color: #7b7b7b;
    font: 300 16px/1.2 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    padding-left: 15px;
    text-transform: uppercase; }

.info-blocks h3 {
  color: #2d2d2d;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0; }
.info-blocks span {
  color: #404040; }

.info-title-big h3 {
  font-size: 64px;
  font-size: 4rem; }

.info-blocks-bg {
  background: #f1f1f1;
  width: 100%; }

.info-blocks-content {
  padding: 0 20px; }

footer.block-sections-footer {
  border-top: 1px solid #f1f1f1;
  clear: both; }

.top-cta footer.block-sections-footer {
  padding: 20px 15px;
  margin-top: 40px; }

.border-left {
  border-left: 1px solid #f1f1f1; }

/*--------------------------------------------------------------
## morris Bar
--------------------------------------------------------------*/
.morris-hover {
  position: absolute;
  z-index: 1000; }

.morris-hover.morris-default-style {
  border-radius: 10px;
  padding: 6px;
  color: #666;
  background: rgba(255, 255, 255, 0.8);
  border: solid 2px rgba(230, 230, 230, 0.8);
  font-family: sans-serif;
  font-size: 12px;
  text-align: center; }

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight: bold;
  margin: 0.25em 0; }

.morris-hover.morris-default-style .morris-hover-point {
  white-space: nowrap;
  margin: 0.1em 0; }

/*# sourceMappingURL=style.css.map */
